*,*:after,*:before{
  box-sizing: border-box;
}
body{
  background-color: #ececec;
  font-family: "Montserrat";
  overflow-y: scroll;
  margin: 0;
  background-color: #000;
}
a{
	color: inherit;
	text-decoration: none;
}