@import "./bourbon/bourbon";
@import "./base";
@import "./variables";

body{
	overflow: auto;
}

.body-scroll-helper{
	position: fixed;
	width: 100%;
	overflow-y: auto;
	left:0;
	right:0;
	// bottom: 0;
	top: 0;
	@include transition-property(transform);
	@include transition-duration(0ms);
	@include transition-timing-function(cubic-bezier(0.78, 0.04, 0.22, 0.96));
	@include transition-delay(0s);
	&.transition{
		@include transition-duration(1.5s);
	}
	&.relative{
		position: relative;
	}
}

.first-section{
	display: block;
	max-height: 100vh;
	overflow: hidden;
	.background-image-container{
	}
	.background-image{
		min-width: 100%;
	}
}


.second-section{
	position: relative;
	background-color: $fav-color;
	color: #fff;
	margin-top: -40px;
	padding: 40px 50px 60px;
	@include linear-gradient(to right, $gradient-start-color, $gradient-end-color);

	.heading{
		font-weight: 700;
		font-size: 30px;
		letter-spacing: -0.5px;
		text-shadow: 0px 6px 15px rgba(0,0,0,0.3);
	}
}


$size: 225px;
$spacing: 20px;
$padding: 30px;
.third-section{
	position: relative;
	.third-section-position-helper{
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 4 * $size + 3 * $spacing + 2 * $padding;
		margin-top: -2 * $spacing - $padding;
		margin-bottom: 2 * $spacing;
		padding: $padding;
		overflow: hidden;
		@media screen and (max-width: 4 * $size + 5 * $spacing + 2 * $padding ){
			width: 2 * $size  + $spacing;
			padding: 0;
			overflow: auto;
			.pane-container-row{
				// margin-bottom: 0;
			}
		}
		&[data-open=false]{
			.pane{
				opacity: 0;
				transform: translateY(400px);
			}
		}
	}
}

.pane{
	position: relative;
	margin-bottom: $spacing;
	cursor: pointer;
	@include transition(transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1));
	@include perspective(4 * $size + 5 * $spacing);
	.pane-wrapper{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		&:after{
			content: ' ';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 80;
		}
	}
	&.absolute{
		position: absolute;
	}
	.pane-title{
		position: absolute;
		bottom: 20px;
		left: 20px;
		z-index: 15;
		font-size: 48px;
		font-weight: bold;
		letter-spacing: -1.75px;
		color: rgba(255,255,255,0.8);
	}
	&.pane-medium{
		$w: $size;
		$h: $size;
		height: $h;
		width: $w;
		.pane-title{
			font-size: 36px;
		}
	}
	&.pane-wide{
		$w: 2 * $size + $spacing;
		$h: $size;
		height: $h;
		width: $w;
		.pane-title{
			font-size: 42px;
		}
	}
	&.pane-large{
		$w: 2*$size + $spacing;
		$h: $w ;
		width: $w;
		height: $h;
	}
	.pane-image-container{
		background-color: #999;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		.pane-image-overlay{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0);
			z-index: 5;
			@include transition(opacity ease 300ms);
			&:after{
				content: ' ';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0,112,201,0.45);
				opacity: 0;
				@include transition(opacity ease 300ms);
			}
		}
		img{
			// position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
	}
	&:hover{
		.pane-image-container{
			.pane-image-overlay{
				&:after{
					opacity: 1;
				}
			}
		}
	}
}

.pane-margin{
	margin: $spacing;
}
.pane-margin-bottom{
	margin-bottom: $spacing;
}
.pane-margin-top{
	margin-top: $spacing;
}
.pane-margin-right{
	margin-right: $spacing;
}
.pane-margin-left{
	margin-left: $spacing;
}

.pane-container{
	@include display(flex);
	@include justify-content(flex-start);
	@include align-items(space-between);
	@include flex-direction(column);
	@include flex-wrap(nowrap);

	.pane-container-row{
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
	}
}